.profile_action_buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    width: 63%;
}

.profile_action_button_box {
    border: 0.1vmax solid #f7f6f7;
    border-radius: 50%;
    background-color: #fbf9fa;
}

.profile_action_button_box_dislike {
    width: 76px;
    height: 76px;
}

.profile_action_button_box_superlike {
    width: 62px;
    height: 62px;
}

.profile_action_button_box_like {
    width: 76px;
    height: 76px;
}

.profile_action_button {
    border: 1px solid #fdfbfc;
    border-radius: 50%;
    background-color: #fefcfd;
}

.profile_action_button_dislike {
    width: 74px;
    height: 74px;
}

.profile_action_button_superlike {
    width: 61px;
    height: 61px;
}

.profile_action_button_like {
    width: 74px;
    height: 74px;
}

.profile_action_button > img {
    display: block;
    margin: auto;
    position: relative;
    background-color: inherit;
    background-size: cover;
    padding-top: 13%;
    background-clip: content-box;
}

.profile_action_button_dislike > img {
    width: 51px;
    height: 51px;
}

.profile_action_button_superlike > img {
    width: 39px;
    height: 39px;
}

.profile_action_button_like > img {
    width: 51px;
    height: 51px;
    padding-top: 15%;
}
