

.chat_container {
    width: 27vw;
    height: 100vh;
    background-color: ghostwhite;
    border-right: 1px solid lightgray;
    margin: 0;
    padding: 0;
}

/* my profile section */

.chat_container_my_profile {
    height: 7%;
    background: linear-gradient(to right, #e90b76, #f2695a);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat_container_my_profile > div {
    background-color: inherit;
}

.chat_container_my_profile_box {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin: 0;
}

.chat_container_my_profile_box_photo {
    background-color: #fffff8;
    border: 1px solid #f6a6cd;
    border-radius: 50%;
    width: 2.1vmax;
    height: 2.1vmax;
    margin-right: 0.6vmax;
}

.chat_container_my_profile_box_photo > img {
    background-color: inherit;
    width: 93%;
    height: 93%;
    border-radius: 50%;
    margin: 0.085vmax;
}

.chat_container_my_profile_box_caption {
    background-color: inherit;
    color: #fffff8;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
}

/*.chat_container_my_profile_box > div {*/
/*    background-color: inherit;*/
/*}*/

.chat_container_lookup_button_box {
    border: 2px solid #fffff8;
    border-radius: 50%;
    width: 2.1vmax;
    height: 2.1vmax;
    margin: 1vmax;
}

.chat_container_lookup_button_box > img {
    background-color: inherit;
    width: 60%;
    height: 60%;
    margin: 0.37vmax;
}

/* matches section */

.chat_container_matches {
    background-color: #edf4f4;
    height: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax;
}

.chat_container_matches > div > div {
    background-color: inherit;
}

.chat_container_matches_logo {
    border-radius: 50%;
    background-color: #fefcfb;
    border: 3px solid #a12e5e;
    width: 5vmax;
    height: 5vmax;
}

.chat_container_matches_logo > img {
    width: 75%;
    height: 75%;
    align-items: center;
    border-radius: 50%;
    background-color: inherit;
    margin: 0.55vmax;
}

.chat_container_matches_captions {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.chat_container_chats_container {
    display: flex;
    height: 79vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fdfcff;
}

.chat_container_matches_captions > div, .chat_container_matches_captions > div > div, .chat_container_matches_captions > div > h3 {
    background-color: inherit;
}

/* Chats */

.chat_container_chats_caption {
    padding: 1vmax;
    color: #d34e81;
}

.chat_container_chats_box {
    background-color: inherit;
}

.chat_container_chats_container > h3 {
    background-color: inherit;
}


.arial_helvetica_font {
    font-family: Arial, Helvetica, sans-serif;
}