
.chat_component_box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: inherit;
    width: 100%;
    height: 14vh;
    /*border: 2px solid black;*/
    align-items: center;
}

.chat_component_box > div {
    background-color: inherit;
}

.chat_component_photo_box {
    display: flex;
    width: 6vmax;
    height: 6vmax;
    /*border: 2px solid greenyellow;*/
    margin-right: 15px;
    margin-left: 10px;
    background-color: inherit;
    border-radius: 50%;
    align-items: center;
}

.chat_component_photo_box > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat_component_text_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
    margin-left: 1vw;
}

.chat_component_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
    margin-bottom: 1vh;
}

.chat_component_name {
    background-color: inherit;
}

.chat_component_flags_box {
    background-color: inherit;
    width: 6vw;
    border: 1px solid cornflowerblue;
    margin-left: 1vw;
}

.chat_component_message_preview {
    background-color: inherit;
}
