
.profile_container {
    display: flex;
    align-items: center;
    width: 73vw;
    height: 100vh;
    background-color: #F3FAFC;
    border-left: 1px solid darkgray;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* logo */

.logo_profile_container {
}

.logo_profile_container > img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: block;
    margin: 1vh auto 40% auto;
    padding: 10px 20px 10px 20px;
}

/* profile container */

.profile_container_profile {
    display: flex;
    margin: 20px 5px 10px 5px;
    width: 23vw;
    height: 53vh;
    flex-direction: column;
    align-items: center;
}


/* profile photo */

.profile_photo {
    display: block;
    margin: auto auto 1px;
    width: 100%;
    height: 100%;
}

.profile_photo > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid ghostwhite;
    display: block;
}

/* Action box */

.profile_action_box {
    margin: auto;
}